:root {
  --chat-bg: var(--primary-background);
  --message-box-padding: 8px 8px 8px 0;
}

/* adds borders after server list and channel list */
[class^="Base-sc-"]>.list,
[class^="ServerSidebar__ServerBase-sc-"] {
  border-right: 1px solid var(--primary-header);
  background: var(--secondary-background);
}

/* replacement server swoosh ~ not working currently */
[class^="SwooshWrapper-sc-"]>svg>path:nth-child(2),
[class^="SwooshWrapper-sc-"]>svg>path:nth-child(3),
[class^="SwooshWrapper-sc-"]>svg>rect {
  display: none;
}

[class^="SwooshWrapper-sc-"]>svg>path:first-child {
  fill: var(--primary-header);
  transform: translateX(.8px) scale(.9);
  transform-origin: center;
}

/* unround the channels list */
[class^="ServerSidebar__ServerBase-sc-"] {
  border-radius: 0px;
}

/* remove the settings icon in the server list (unneeded imo and also allows a nicer removal of the shadow) */
[class^="Base-sc-"]>[class^="ItemContainer-sc-"],
[class^="Base-sc-"]>[class^="Shadow-sc-"] {
  display: none;
}

/* solid header */
[class^="Header-sc-"] {
  background: var(--primary-header);
}

/* smaller chat avatar */
[class^="MessageBase__MessageInfo-sc-"]>[class^="IconBase-sc-"] {
  width: 24px;
  height: 24px;
}

/* smaller padding above/below messages */
[class^="MessageBase-sc-"] {
  padding: 0.05rem;
}

/* smaller username */
.detail>[class^="UserShort__Name-sc-"] {
  font-size: 11px;
}

/* smaller date */
[class^="MessageBase__DetailBase-sc-"] {
  font-size: 9px;
}

/* moves the message slightly to the left for the smaller chat avatar */
[class^="MessageBase__MessageInfo-sc-"] {
  margin-right: -10px;
}

/* rounded reactions */
[class^="sc-jSgvzq"] {
  border-radius: 50px;
}

/* message bubble */
[class^="MessageBase__MessageContent-sc-"] {
  background-color: var(--message-box);
  border-radius: 18px;
  padding: 10px 13px 10px 13px;
  flex-grow: 0;
}

[class^="RevoltApp__Routes-sc-"] {
  background: var(--chat-bg);
}

/* move the message options slightly up a little to not obscure the message */
[class^="sc-iBPTik"] {
  top: -27px;
}

/* transparent bottom box */
[class^="MessageBox__Base-sc-"] {
  background: transparent;
  padding-bottom: 7px;
}

/* redo margins because message box was kinda off */
[class^="MessageBox__FileAction-sc-"],
[class^="MessageBox__Action-sc-"] {
  margin-bottom: -7px;
}

/* typing indicator */
[class^="TypingIndicator__Base-sc-"]>div {
  background: transparent;
}

[class^="TypingIndicator__Base-sc-"]>div>.avatars {
  margin-left: 13px;
}

[class^="TypingIndicator__Base-sc-"]>div>.usernames {
  margin-left: 6px;
  padding-left: 5px;
  padding-right: 5px;
  background: var(--message-box);
  border-radius: 8px;
}

/* reply notice */
[class^="ReplyBar__Base-sc-"] {
  padding: 0px 10px;
  margin-left: 52px;
  margin-right: 58px;
  border-radius: 16px;
}

/* modified file upload preview/emoji selection */
[class^="AutoComplete__Base-sc-"] {
  margin-left: 52px;
  margin-right: 58px;
}

[class^="AutoComplete__Base-sc-"]>div,
[class^="AutoComplete__Base-sc-"]>div>button {
  border-radius: 18px;
}

[class^="FilePreview__Container-sc-"] {
  margin-left: 52px;
  margin-right: 58px;
  border-radius: 18px;
}

/* signal-like messagebar */
textarea#message {
  background: var(--message-box);
  border-radius: 18px;
  margin-left: -10px;
  padding-left: 10px;
  margin-top: 5px;
}

/* recolors the members bar to merge in better with the chat backgorund */
[class^="MemberList__ListCategory-sc-"],
[class^="SidebarBase__GenericSidebarBase-sc-"] {
  background: var(--primary-background);
}